
{{#if hasAbout}}
	<div class="spacer">
		<div class="titlebox">
			<h1>{{about.data.name}}</h1>
			<span class="karma">{{about.data.link_karma}}</span> link karma
			<br>
			<span class="karma comment-karma">{{about.data.comment_karma}}</span> comment karma
		</div>
	</div>
{{/if}}