<div id="siteTable" class="sitetable linklisting">
	{{#each model.listing.children as |thing|}}
		{{render "thing" thing}}
	{{else}}
		<p id="noresults" class="error">theredoesn't seem to be anything here</p>
	{{/each}}

	<div class="nav-buttons">
		<span class="nextprev">
			view more:
			{{#if model.listing.hasBefore}}
				{{#link-to currentRoute user (query-params count=prevCount before=model.listing.before)}}‹ prev{{/link-to}}
			{{/if}}
			{{#if model.listing.hasAfter}}
				{{#link-to currentRoute user (query-params count=nextCount after=model.listing.after)}}next ›{{/link-to}}
			{{/if}}
		</span>
	</div>
</div>